@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;

400;500;700;900&display=swap&subset=cyrillic-ext");
@font-face {
  font-family: "UniSans";
  font-display: swap;
  src: url("../fonts/ofont.ru_Uni Sans.woff") format("woff"), url("../fonts/ofont.ru_Uni Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  font-display: swap;
  src: url("../fonts/ofont.ru_Play.woff") format("woff"), url("../fonts/ofont.ru_Play.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  display: block;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-arrow-link:before {
  content: "\e901";
}

.icon-cart:before {
  content: "\e902";
}

.icon-favorite:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e904";
}

.icon-phone:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e906";
}

.icon-send:before {
  content: "\e907";
}

.icon-share:before {
  content: "\e908";
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 175px 0 0 0;
}

.page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
}

/* .page__menu {
} */

.no-webp .menu-page{
  background: url("../img/bg_menu.jpg") top no-repeat; }

.menu-page {
  position: relative;
}

.menu-page__header {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-page__title {
  color: #ffffff;
  font-family: "UniSans";
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  line-height: 116.6%;
  /* 35 / 30 * 100% */
}

.menu-page__burger {
  width: 36px;
  height: 36px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  background-color: #068292;
  position: relative;
  cursor: pointer;
  z-index: 5;
  padding: 10px 6px;
}

.menu-page__burger span {
  -webkit-transition: 0.5s ease 0s;
  -o-transition: 0.5s ease 0s;
  transition: 0.5s ease 0s;
  top: calc(50% - 1px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.menu-page__burger span:first-child {
  top: 0;
}

.menu-page__burger span:last-child {
  top: auto;
  bottom: 0;
}

.menu-page__burger._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.menu-page__burger._active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
}

.menu-page__burger._active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.menu-page__lines {
  height: 16px;
  position: relative;
}

/* .menu-page__body {
	position: relative;
	z-index: 2;
} */

.menu-page__list > li {
  border-bottom: 1px solid #1aa7b9;
}

.menu-page__link {
  letter-spacing: 0.3px;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  display: block;
  padding: 12px 20px;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  position: relative;
}

.no-webp .menu-page__parent .menu-page__link::after{
  background: url("../img/icons/page/menu_arrow.png"); }

.menu-page__parent .menu-page__link::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  width: 14px;
  height: 14px;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.menu-page__parent._active .submenu-page__item {
  z-index: 2;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu-page__parent._active .menu-page__link {
  background-color: #15b2c7;
}

/* .menu-page__submenu {
} */

/* .submenu-page {
} */

.page__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 30px;
}

.menu-page__submenu {
  width: 100%;
  position: absolute;
  /* относительно всего .menu-page */
  top: 0;
  height: 100%;
  left: 100%;
  /* Выезжающая карточка спрячется под меню */
  overflow: hidden;
}

/* .submenu-page {
} */

.submenu-page__item {
  width: 280px;
  border: 2px solid #098494;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}

.submenu-page__menu {
  padding: 20px 0;
  border-bottom: 1px solid #dedede;
}

.submenu-page__link {
  color: #1ab9ce;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  display: block;
  /* чтобы сработали блочные свойства для ссылок (строчных) */
  padding: 10px 40px;
}

.submenu-page__product {
  padding: 0 15px;
}

.item-product {
  padding: 15px;
  position: relative;
}

.item-product__labels {
  position: absolute;
  left: 15px;
  top: 15px;
}

.item-product__label {
  margin: 0 0 5px 0;
  padding: 0 15px;
  text-transform: uppercase;
  height: 21px;
  background-color: #fd8424;
  border-radius: 15px;
  color: #fff;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-product__image {
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.item-product__image img {
  max-width: 100%;
  max-height: 175px;
}

.item-product__body {
  padding: 0 10px;
}

.item-product__title {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  display: inline-block;
  margin: 0 0 5px 0;
}

.item-product__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-product__old-price {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  /* flex-элемент разместится на всю ширину */
  text-align: right;
  color: #999999;
  font-size: 18px;
  font-weight: 300;
  text-decoration: line-through;
  display: none;
}

.item-product__old-price::after {
  font-size: 14px;
}

.no-webp .item-product__add{
  background: url("../img/icons/page/cart_gray.png") 0 0 no-repeat; }

.item-product__add {
  width: 48px;
  height: 48px;
}

.item-product__price {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
}

.item-product__price::after {
  font-size: 18px;
}

/* учли поля (что-бы контент не прилипал к краям экрана) */

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  color: #3a3a3a;
  font-family: "Roboto";
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.rub::after {
  content: "₽";
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

._flyImage._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  -webkit-transition: all 1s ease 0s;
  -o-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.footer-title {
  font-size: 24px;
  line-height: 120.843%;
  font-weight: 700;
  color: #000000;
}

.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}

/* 10 */

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  text-align: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  min-height: 48px;
}

.btn--white {
  color: #e89f71;
  background-color: #fff;
}

/* 12 */

.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}

/* 13 */

.slider-arrow {
  pointer-events: auto;
  border-radius: 50%;
  height: 48px;
  background-color: rgba(232, 159, 113, 0.3);
  color: #e89f71;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/* 14 */

.slider-arrow--prev::before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* 15 */

.slider-arrow--next::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/* 16 */

/* стрелочка в белом кружке: */

.slider-arrow--white {
  -webkit-box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
          box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

/* Классы, которые Swiper добавляет автоматически(приего инициализации: */

/* 17 */

/* для оболочки точек: */

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* 18 */

/* для точек: */

.swiper-pagination-bullet {
  cursor: pointer;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27px;
          flex: 0 0 27px;
  height: 27px;
  position: relative;
  /* отцентруем маленькую точку внутри: */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0;
  background-color: transparent;
  /* отступы между точками (с учётом ореола): */
  /* дорисуем маленькую точку для неактивного буллета: */
  /* рисуем ореол (оранжевую границу) вокруг активной точки: */
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 12px;
}

.swiper-pagination-bullet::after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #08a03b;
  border-radius: 50%;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #e89f71;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  /* скроем ореол для не активной точки: */
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

/* 19 */

/* для активной точки: */

.swiper-pagination-bullet-active::after {
  background-color: #e89f71;
}

.swiper-pagination-bullet-active::before {
  /* покажем ореол для активной точки: */
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.no-webp .header{
  background: #fff url(../img/header_bg.jpg) top no-repeat; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

/* .header__top {
} */

/* .top-header {
} */

.top-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.top-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.top-header__column--logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  text-align: center;
  /* @media (min-width: 768px) {
  	flex: 0 0 100px;
  	align-self: flex-start;
  	padding: 20px 0 0 0;
  } */
}

.top-header__logo {
  position: relative;
  /* вытаскиваем логотип на верх накрывающей плашки */
  z-index: 5;
  display: inline-block;
  /* @media (max-width: 768px) {
  	width: 120px;
  	img {
  		max-width: 100%;
  	}
  } */
}

/* .top-header__menu {
} */

/* .menu {
} */

/* .menu__icon {
} */

.icon-menu {
  display: none;
}

.menu__list {
  display: grid;
  grid-template-columns: 110px 130px 180px;
}

.menu__list li {
  margin: 2px 0;
}

.menu__link {
  font-family: "Play";
  font-size: 14px;
  -webkit-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  /* white-space: nowrap; */
  color: #fff;
  min-height: 27px;
  padding: 3px 22px;
}

.contacts-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-header__column {
  padding: 0 30px;
  border-left: 1px solid #fff;
}

.contacts-header__column:first-child {
  border: 0;
}

/* .contacts-header__item {
} */

.no-webp .contacts-header__item--icon{
  background: url("../img/icons/header/phone.png") left no-repeat; }

.contacts-header__item--icon {
  z-index: 10;
  padding: 0 0 0 37px;
}

.contacts-header__label {
  font-family: "Play";
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  margin: 0 0 5px 0;
}

.contacts-header__phone {
  font-family: "Play";
  font-size: 18px;
  color: #fff;
  font-weight: 900;
  white-space: nowrap;
}

/* .header__bottom {
} */

/* .bottom-header {
} */

.bottom-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 63px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottom-header__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 95px);
          flex: 0 1 calc(50% - 95px);
}

/* .bottom-header__actions {
} */

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header li {
  margin: 0 54px 0 0;
}

.actions-header__item {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 24px;
  color: #999999;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.actions-header__item span {
  border-bottom: 1px dotted;
}

.no-webp .actions-header__item--login{
  background: url("../img/icons/header/login.png") left no-repeat; }

.no-webp .actions-header__item--reg{
  background: url("../img/icons/header/user.png") left no-repeat; }

.no-webp .actions-header__item--email{
  background: url("../img/icons/header/email.png") left no-repeat; }

.actions-header__item--email span {
  border-bottom: 1px solid;
}

/* .bottom-header__info {
} */

.info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-header__column {
  padding: 0 54px 0 0;
}

.info-header__column:last-child {
  padding: 0;
}

.no-webp .info-header__callback{
  background: url("../img/icons/header/callback.png") left no-repeat; }

.info-header__callback {
  padding: 0 0 0 35px;
  display: inline-block;
  line-height: 28px;
  color: #1ab9ce;
}

.info-header__callback span {
  border-bottom: 1px dotted;
}

.no-webp .info-header__schedule{
  background: url("../img/icons/header/schedule.png") left no-repeat; }

.info-header__schedule {
  padding: 0 0 0 37px;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #999999;
}

.info-header__schedule span {
  font-weight: 900;
}

.no-webp .info-header__cart{
  background: url("../img/icons/header/cart.png") left no-repeat; }

.info-header__cart {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
  -webkit-transform: translateY(3%);
      -ms-transform: translateY(3%);
          transform: translateY(3%);
}

.info-header__cart span {
  position: absolute;
  background-color: #f68038;
  padding: 0 11px;
  border-radius: 20px;
  line-height: 25px;
  right: -25px;
  top: -3px;
  font-size: 18px;
  font-weight: 700;
  font-family: Play;
  color: #fff;
}

@media (min-width: 426px) {
  .top-header__contacts {
    position: relative;
    /* вытаскиваем телефоны на верх накрывающей плашки */
    z-index: 5;
  }
}

@media (min-width: 991px) {
  .menu-page__link:hover {
    background-color: #15b2c7;
  }

  .submenu-page__link:hover {
    background-color: #71c7d3;
    color: #fff;
  }

  .item-product__title:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    background-color: #15b2c7;
    border-radius: 20px;
  }

  .actions-header__item:hover {
    color: #1ab9ce;
  }
}

@media (max-width: 1192px) {
  .menu__list {
    grid-template-columns: 90px 110px 160px;
  }

  .menu__link {
    padding: 3px 10px;
  }

  .contacts-header__column {
    padding: 0 15px;
  }

  .contacts-header__item--icon {
    padding: 0 0 0 33px;
    /* background-size: 15px; */
  }

  .contacts-header__phone {
    font-size: 16px;
  }

  .info-header__cart {
    -webkit-transform: translateY(27%);
        -ms-transform: translateY(27%);
            transform: translateY(27%);
  }

  .info-header__cart span {
    right: 2px;
    top: -15px;
  }
}

@media (max-width: 1180px) {
  .footer-title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 860));
  }

  .title {
    font-size: calc(24px + 16 * ((100vw - 320px) / 860));
  }

  .actions-header li {
    margin: 0 2.12vw 0 0;
    /* margin: 0 25 / $maxWidthContainer * 100vw 0 0 */
  }

  .info-header__column {
    padding: 0 2.12vw 0 0;
    /* padding: 0 25 / $maxWidthContainer * 100vw 0 0; */
  }
}

@media (max-width: 991px) {
  .no-webp .header{
    background: #fff url(../img/header_bg.jpg) 0 0 no-repeat; }

  .top-header__column--logo {
    padding: 10px 0 0 0;
  }

  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
    top: calc(50% - 1px);
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    display: none;
    /* скроем меню в момент появления кнопки меню-бургер */
    background-color: #fff;
    padding: 90px 20px 30px 20px;
    z-index: 2;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 91px;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #0091b8;
  }

  .menu__body._active {
    display: block;
    /* покажем меню при нажатии кнопки меню-бургер (добавляется класс _active) */
  }

  .menu__list {
    display: block;
    /* в выпадающем меню элемены расположатся в колонку */
  }

  .menu__link {
    color: #000;
    padding: 9px 5px;
    font-size: 20px;
  }
}

@media (max-width: 959px) {
  .bottom-header__content {
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .actions-header {
    padding-top: 15px;
  }
}

@media (max-width: 768px) {
  .actions-header__item:not(:last-child) {
    top: 10px;
  }
}

@media (max-width: 640px) {
  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts-header__column {
    border: none;
  }

  .contacts-header__column:not(:last-child) {
    margin: 0 0 7px 0;
  }
}

@media (max-width: 425px) {
  .contacts-header {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 10px;
  }

  .contacts-header__column {
    padding: 10px 7px;
  }

  .contacts-header__label {
    color: #000;
  }

  .contacts-header__phone {
    color: #000;
  }

  .bottom-header__content {
    height: 58px;
  }

  .actions-header {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 5px;
  }

  .actions-header__item {
    color: #24505c;
  }

  .actions-header__item:last-child {
    margin-top: 25px;
  }

  .info-header__schedule {
    color: #24505c;
    padding: 15px 0 10px 40px;
  }

  .info-header__cart {
    -webkit-transform: translateY(37%);
        -ms-transform: translateY(37%);
            transform: translateY(37%);
  }
}

@media (any-hover: hover) {
  .btn--white:hover {
    background-color: #e89f71;
    color: #fff;
  }

  .slider-arrow:hover {
    color: #fff;
    background-color: #e89f71;
  }

  .slider-arrow--white:hover {
    background-color: #e89f71;
    color: #fff;
  }
}

.webp .menu-page{ background: url(../img/bg_menu.webp) top no-repeat; }

.webp .menu-page__parent .menu-page__link::after{ background: url(../img/icons/page/menu_arrow.webp); }

.webp .item-product__add{ background: url(../img/icons/page/cart_gray.webp) 0 0 no-repeat; }

.webp .header{ background: #fff url(../img/header_bg.webp) top no-repeat; }

.webp .contacts-header__item--icon{ background: url(../img/icons/header/phone.webp) left no-repeat; }

.webp .actions-header__item--login{ background: url(../img/icons/header/login.webp) left no-repeat; }

.webp .actions-header__item--reg{ background: url(../img/icons/header/user.webp) left no-repeat; }

.webp .actions-header__item--email{ background: url(../img/icons/header/email.webp) left no-repeat; }

.webp .info-header__callback{ background: url(../img/icons/header/callback.webp) left no-repeat; }

.webp .info-header__schedule{ background: url(../img/icons/header/schedule.webp) left no-repeat; }

.webp .info-header__cart{ background: url(../img/icons/header/cart.webp) left no-repeat; }

@media (max-width: 991px){
  .webp .header{ background: #fff url(../img/header_bg.webp) 0 0 no-repeat; }
}