.filter {
	border: 4px solid #72c9d4;
}
.filter__title {
	padding: 25px 15px 5px 15px;
	color: #36949f;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
	transition: all 0.7s ease 0s;
	@media (max-width: 894px) {
		padding: 25px 15px 25px 15px;
		&._active {
			padding: 25px 15px 5px 15px;
		}
	}
}

.filter__content {
	// скроем фильтр товваров на малых экранах и покажем на больших:
	@media (max-width: 894px) {
		display: none;
	}
	@media (min-width: 895px) {
		display: block !important;
	}
}
/* .filter__body {	
} */
/* .filter__section {
} */
.filter__footer {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}
.filter__btn {
	padding: 0 15px;
}

.section-filter {
	padding: 15px;
	border-bottom: 1px solid #72c9d4;
	&:last-child {
		border: 0;
	}
}
.section-filter__title {
	color: #36949f;
	font-size: 18px;
	font-weight: 700;
	line-height: 22px;
	//margin: 0 0 15px 0;
	// для спойлера:
	min-height: 30px;
	display: flex;
	align-items: center;
	//нарисуем круг для стрелочек (при нажатии на который и на заголовок срабатывает спойлер):
	justify-content: space-between;
	&.spoiler {
		cursor: pointer;
		&::after {
			content: "";
			border-radius: 50%;
			flex: 0 0 35px;
			width: 35px;
			height: 35px;
			border: 1px solid #72c9d4;
			background: url("../img/icons/right-chevron.png") center no-repeat;
		}
		&._active {
			color: #9b8f8f;
			&::after {
				background: url("../img/icons/down-chevron.png") center no-repeat;
			}
		}
	}
	// изначально скроем производителей (слайдер закрыт)
	/* &.spoiler + .section-filter__body {
		display: none;
	} */
}
.section-filter__body {
	padding: 15px 0 0 0;
}

.section-filter__checkbox {
	display: block; // чтобы квадратики расположились в столбик
	margin: 0 0 15px 0;
	&:last-child {
		margin: 0;
	}
}

.price-filter {
	.price-filter__slider {
		height: 4px;
		background-color: #eaeaea;
		margin: 0 11px 50px;
		// 37:48
		position: relative;
		&::before,
		&::after {
			content: "";
			background-color: #eaeaea;
			width: 11px;
			height: 4px;
			position: absolute;
			top: 0;
		}
		&::before {
			left: -10px;
		}
		&::after {
			right: -10px;
		}
		.noUi-base,
		.noUi-connects {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1;
		}

		/* .noUi-connect {
		background-color: #f68038;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform-origin: 0 0;
		transform-style: flat;
	} */

		.noUi-origin,
		.noUi-connect {
			will-change: transform;
			position: absolute;
			//width: 100%;
			width: 10%;
			height: 10%;
			//height: 4px;
			z-index: 1;
			top: 0;
			right: 0;
			transform-origin: 0 0;
			transform-style: flat;
		}

		// Соединительная полоса между точками:
		.noUi-connect {
			background-color: #f68038;
			width: 100%;
			height: 100%;
		}
		// ползунки:
		.noUi-handle {
			width: 23px;
			height: 23px;
			//position: relative;
			position: absolute;
			top: -10px;
			right: -11.5px;
			border: 1px solid #f68038;
			border-radius: 50%;
			background-color: #ffffff;
			cursor: pointer;
			// точки в ползунках:
			&::after {
				content: "";
				width: 15px;
				height: 15px;
				position: absolute;
				top: 3px;
				left: 3px;
				//left: 50%;
				//top: 50%;
				//transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: #f68038;
			}
		}

		// цифры под точками:
		.noUi-tooltip {
			position: absolute;
			bottom: -20px;
			left: 50%;
			color: #999999;
			font-size: 12px;
			font-weight: 300;
			transform: translate(-50%, 0);
		}
	}
}
/* .price-filter__slider {
} */
/* .price-filter__values {
} */
.values-price-filter {
	display: flex;
	margin: 0 -15px;
}
.values-price-filter__column {
	padding: 0 15px;
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.values-price-filter__label {
	color: #999999;
	font-size: 12px;
	font-weight: 300;
}
//поля ввода:
.values-price-filter__input {
	flex: 1 1 auto;
	padding: 0 0 0 10px;
	.input {
		font-size: 12px;
		height: 20px; // общие настройки- в style.
		padding: 0px 10px;
	}
}

//================================================================================================================================

/* .compare-filter {
} */
.compare-filter__items {
	//padding: 0 13px 0 0;
	margin: 0 0 20px 0;
}
.compare-filter__item {
	display: flex;
	justify-content: space-between;
	margin: 0 0 10px 0;
	align-items: center;
	&:last-child {
		margin: 0;
	}
}
.compare-filter__link {
	line-height: 16px;
	color: #1ab9ce;
	font-size: 16px;
	font-weight: 300;
	text-decoration: underline;
}
.compare-filter__remove {
	flex: 0 0 32px;
	width: 32px;
	height: 32px;
	margin: 3px 0 0 5px;
	background: url("../img/icons/remove.png") 0 0 no-repeat;
	@media (min-width: 991px) {
		&:hover {
			background: url("../img/icons/remove_hover.png") 0 0 no-repeat;
		}
	}
}
.compare-filter__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.compare-filter__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 33px;
	background-color: #1ab9ce;
	padding: 0 13px;
	border-radius: 25px;
	span {
		background: url("../img/icons/compare.png") left no-repeat;
		padding: 0 0 0 20px;
		line-height: 33px;
		display: inline-block;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: 900;
	}
}
.compare-filter__clean {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	background: #e6e6e6 url("../img/icons/trash.png") center no-repeat;
}

//=================================================================================================================================

.breadcrumbs {
	//overflow: auto; // Добавляет полосы прокрутки при необходимости: если содержимое не помещается - они появятся, если все помещается - их не будет
	margin: 0 0 20px 0;
	height: 20px;
}
.breadcrumbs__list {
	display: flex;
	align-items: center;
	white-space: nowrap;
	li {
		padding: 0 20px 0 0;
		margin: 0 10px 0 0;
		background: url("../img/icons/page/menu_arrow.png") right no-repeat;
		&:last-child {
			margin: 0;
			background: none !important;
		}
	}
}
.breadcrumbs__link {
	color: #1ab9ce;
	text-decoration: underline;
}
.breadcrumbs__item {
	color: #999999;
	font-weight: 300;
}

//===============================================================================================================================

/* .catalog {
} */
.catalog__title {
	color: #dadada;
	font-family: "UniSans";
	font-size: 30px;
	line-height: 130%;
	margin: 0 0 20px 0;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	font-weight: 900;
}
.catalog__actions {
	margin: 0 0 15px 0;
}
.actions-catalog {
	background-color: #f3f3f3;

	padding: 10px 20px;
	align-items: center;
	@media (min-width: 425px) {
		display: flex;
	}
}
.actions-catalog__order {
	@media (max-width: 424px) {
		margin: 0 0 15px 0;
	}
}
.order-catalog {
	@media (min-width: 425px) {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
	}
}
.order-catalog__lebel {
	margin: 0 20px 0 0;
	color: #333333;
	font-size: 14px;
	font-weight: 900;
	@media (max-width: 424px) {
		margin: 0 0 10px 0;
	}
}
/* .order-catalog__select {
} */

/* .actions-catalog__view {
} */
.view-catalog {
	display: flex;
}
.view-catalog__item {
	cursor: pointer;
	width: 36px;
	height: 36px;
	margin: 0 0 0 8px;
	@media (max-width: 424px) {
		margin: 0 10px 0px 0;
	}
}
.view-catalog__item--grid {
	background: #ffffff url("../img/icons/grid.svg") center no-repeat;
}
.view-catalog__item--list {
	background: #4da0b9 url("../img/icons/list.svg") center no-repeat;
}

//=================================================================================================================================

.catalog__navi {
}
.navi-catalog {
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	padding: 10px 15px;
	/* @media (min-width: 595px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	} */
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 595px) {
		flex-direction: column-reverse;
	}
	&--top {
		margin: 0 0 23px 0;
	}
}
/* .navi-catalog__show {
} */
.show-catalog {
	display: flex;
	align-items: center;
	@media (max-width: 595px) {
		margin-top: 20px;
	}
	/* @media (min-width: 595px) {
		display: flex;
		align-items: center;
	} */
}
.show-catalog__label {
	margin: 0 20px 0 0;
	color: #333333;
	font-size: 14px;
	font-weight: 900;
	/* @media (max-width: 424px) {
		margin: 0 0 10px 0;
	} */
}
.show-catalog__select {
}
.show {
}
.navi-catalog__pages {
}
