.filter {
	border: 4px solid #72c9d4;
}
.filter__title {
	padding: 25px 15px 5px 15px;
	color: #36949f;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0px;
}
/* .filter__body {
} */
/* .filter__section {
} */
.section-filter {
	padding: 20px 15px;
	border-bottom: 1px solid #72c9d4;
}
.section-filter__title {
	color: #36949f;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	margin: 0 0 15px 0;
	// для спойлера:
	min-height: 30px;
	display: flex;
	align-items: center;
}
/* .section-filter__body {
} */
.price-filter {
	.price-filter__slider {
		height: 4px;
		background-color: #eaeaea;
		margin: 0 11px 50px;
		// 37:48
		position: relative;
		&::before,
		&::after {
			content: "";
			background-color: #eaeaea;
			width: 11px;
			height: 4px;
			position: absolute;
			top: 0;
		}
		&::before {
			left: -10px;
		}
		&::after {
			right: -10px;
		}
		.noUi-base,
		.noUi-connects {
			position: relative;
			height: 4px;
		}
		/* .noUi-connect {
		background-color: #f68038;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform-origin: 0 0;
		transform-style: flat;
	} */
		.noUi-origin,
		.noUi-connect {
			will-change: transform;
			position: absolute;
			width: 10%;
			height: 10%;
			//height: 4px;
			z-index: 1;
			top: 0;
			right: 0;
			transform-origin: 0 0;
			transform-style: flat;
		}
		// Соединительная полоса между точками:
		.noUi-connect {
			background-color: #f68038;
			width: 100%;
			height: 100%;
		}
		// ползунки:
		.noUi-handle {
			width: 23px;
			height: 23px;
			position: relative;
			top: -10px;
			right: -11.5px;
			border: 1px solid #f68038;
			border-radius: 50%;
			background-color: #ffffff;
			cursor: pointer;
			// точки в ползунках:
			&::after {
				content: "";
				width: 15px;
				height: 15px;
				position: absolute;
				top: 3px;
				left: 3px;
				//left: 50%;
				//top: 50%;
				//transform: translate(-50%, -50%);
				border-radius: 50%;
				background-color: #f68038;
			}
		}
		// цифры под точками:
		.noUi-tooltip {
			position: absolute;
			bottom: -20px;
			left: 50%;
			color: #999999;
			font-size: 12px;
			font-weight: 300;
			transform: translate(-50%, 0);
		}
	}
}
/* .price-filter__slider {
} */
/* .price-filter__values {
} */
.values-price-filter {
	display: flex;
	margin: 0 -15px;
}
.values-price-filter__column {
	padding: 0 15px;
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}
.values-price-filter__label {
	color: #999999;
	font-size: 12px;
	font-weight: 300;
}
//поля ввода:
.values-price-filter__input {
	flex: 1 1 auto;
	padding: 0 0 0 10px;
	.input {
		font-size: 12px;
		height: 20px; // общие настройки- в style.
		padding: 0px 10px;
	}
}

//================================================================================================================================

.compare-filter {
}
.compare-filter__items {
	margin: 0 0 20px 0;
}
.compare-filter__item {
	display: flex;
	margin: 0 0 10px 0;
	align-items: center;
	&:last-child {
		margin: 0;
	}
}
.compare-filter__link {
	flex: 1 1 auto;
	color: #1ab9ce;
	font-size: 16px;
	font-weight: 300;
	text-decoration: underline;
}
.compare-filter__remove {
	width: 32px;
	height: 32px;
	background: url("../img/icons/remove.png") 0 0 no-repeat;
	@media (min-width: 991px) {
		&:hover {
			background: url("../img/icons/remove_hover.png") 0 0 no-repeat;
		}
	}
}
.compare-filter__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.compare-filter__button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	background-color: #1ab9ce;
	padding: 0 13px;
	border-radius: 25px;
	span {
		background: url("../img/icons/compare.png") left no-repeat;
		padding: 0 0 10px 23px;
		text-transform: uppercase;
		color: #ffffff;
		font-weight: 900;
		margin-top: 9px;
	}
}
.compare-filter__clean {
}
