.filter {
	border: 4px solid #72c9d4;
}
.filter__title {
	padding: 25px 15px 5px 15px;
	color: #36949f;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.6px;
}
.filter__body {
}
.filter__section {
}
.section-filter {
	padding: 30px 15px;
	border-bottom: 1px solid #72c9d4;
}
.section-filter__title {
	color: #36949f;
	font-size: 16px;
	font-weight: 700;
	line-height: 22px;
	margin: 0 0 15px 0;
	// для спойлера:
	min-height: 30px;
	display: flex;
	align-items: center;
}
.section-filter__body {
}
.price-filter {
	height: 4px;
	background-color: #eaeaea;
	.noUi-base {
		position: relative;
		height: 4px;
	}
	.noUi-origin {
		will-change: transform;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		transform-origin: 0 0;
		transform-style: flat;
	}
	// ползунки:
	.noUi-handle {
		width: 23px;
		height: 23px;
		position: relative;
		top: -10px;
		border: 1px solid #f68038;
		border-radius: 50%;
		background-color: #ffffff;
		cursor: pointer;
		// точки в ползунках:
		&::after {
			content: "";
			width: 15px;
			height: 15px;
			position: absolute;
			top: 3px;
			left: 3px;
			//left: 50%;
			//top: 50%;
			//transform: translate(-50%, -50%);
			border-radius: 50%;
			background-color: #f68038;
		}
	}
}
