/* .footer {
} */
/* .footer__container {
} */

.footer__body {
	@media (min-width: 991px) {
		display: flex;
		margin: 0 -10px;
	}
}

.footer__payments {
	img {
		max-width: 100%;
	}
	@media (max-width: 595px) {
		text-align: center;
	}
}

.footer__column {
	@media (min-width: 991px) {
		padding: 0 10px;
		flex: 0 1 50%;
	}
	margin: 0 0 25px 0;
	&:first-child {
		display: flex;
		flex-direction: column;
	}
}
/* .footer__block {
} */
.block-footer {
	padding: 0 0 20px 0;
	text-align: center;
	@media (min-width: 596px) {
		text-align: left;
		display: flex;
		flex: 1 1 auto;
	}
}
.block-footer__column {
	&:first-child {
		flex: 0 0 165px;
	}
	&:last-child {
		flex: 1 1 auto;
		@media (min-width: 596px) {
			padding: 0 0 0 45px;
		}
	}
}
.logo-footer {
	display: inline-block;
	margin: 0 0 35px 0;
}
.block-footer__phones {
	background: url("../img/icons/header/phone.png") left no-repeat;
	padding: 0 0 0 45px;
	@media (max-width: 595px) {
		background: url("../img/icons/header/phone.png") 205px no-repeat;
		font-size: 18px;
		margin: 0 0 30px 0;
	}
	@media (max-width: 575px) {
		background: url("../img/icons/header/phone.png") 190px no-repeat;
	}
	@media (max-width: 545px) {
		background: url("../img/icons/header/phone.png") 180px no-repeat;
	}
	@media (max-width: 520px) {
		background: url("../img/icons/header/phone.png") 160px no-repeat;
	}
	@media (max-width: 480px) {
		background: url("../img/icons/header/phone.png") 140px no-repeat;
	}
	@media (max-width: 440px) {
		background: url("../img/icons/header/phone.png") 123px no-repeat;
	}
	@media (max-width: 425px) {
		background: url("../img/icons/header/phone.png") 110px no-repeat;
	}
	@media (max-width: 390px) {
		background: url("../img/icons/header/phone.png") 95px no-repeat;
	}
	@media (max-width: 350px) {
		background: url("../img/icons/header/phone.png") 77px no-repeat;
	}
	p {
		margin: 0 0 10px 0;
		&:last-child {
			margin: 0;
		}
	}
}
.block-footer__phone {
	color: #333333;
	font-weight: 900;
	font-size: 16px;
}
/* .block-footer__delivery {
} */
.delivery-footer {
	@media (max-width: 595px) {
		text-align: center;
	}
}
.delivery-footer__title {
	color: #999999;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 0.35px;
	margin: 0 0 10px 0;
}
.delivery-footer__items {
	display: flex;
	flex-wrap: wrap;
	//justify-content: space-between;
	margin: 0 -9px;
	align-items: center;
	@media (max-width: 595px) {
		justify-content: center;
	}
}
.delivery-footer__item {
	padding: 9px;
}
/* .footer__widgets {
} */
.widgets-footer {
	display: flex;
	margin: 0 -15px;
	@media (min-width: 991px) {
		justify-content: flex-end;
	}
	@media (max-width: 595px) {
		display: block;
		text-align: center;
	}
}
.widgets-footer__column {
	padding: 0 15px;
	img {
		max-width: 100%;
	}
	@media (max-width: 595px) {
		padding: 10px;
	}
}
.footer__bottom {
	align-items: center;
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid #dadada;
	@media (min-width: 596px) {
		display: flex;
		text-align: left;
	}
}

.footer__copy {
	flex: 1 1 auto;
	color: cadetblue;
	font-size: 12px;
	font-weight: 300;
	@media (max-width: 595px) {
		margin: 0 0 15px 0;
	}
}
/* .footer__social {
} */
.social-footer {
	display: flex;
	align-items: center;
	@media (max-width: 595px) {
		justify-content: center;
	}
}
.social-footer__item {
	margin: 0 0 0 10px;
	@media (max-width: 595px) {
		margin: 0 5px;
	}
}
