.header {
	background: url(../img/header_bg.jpg) top no-repeat;
	@media (max-width: $md2+px) {
		background: url(../img/header_bg.jpg) 0 0 no-repeat;
	}
}
/* .header__top {
} */
/* .top-header {
} */
.top-header__content {
	display: flex;
	align-items: center;
	height: 90px;
}

// Для всех верхних колонок задаём ширину 50% ограничивающего контейнера:
.top-header__column {
	flex: 0 1 50%;
}
// для второй колонки укажем ширину жёстко 190рх:
.top-header__column--logo {
	flex: 0 0 190px;
	text-align: center;
	@media (max-width: $md2+px) {
		padding: 10px 0 0 0;
	}
	/* @media (min-width: $md3+px) {
		flex: 0 0 100px;
		align-self: flex-start;
		padding: 20px 0 0 0;
	} */
}

.top-header__logo {
	position: relative; /* вытаскиваем логотип на верх накрывающей плашки */
	z-index: 5;

	display: inline-block;
	/* @media (max-width: $md3+px) {
		width: 120px;
		img {
			max-width: 100%;
		}
	} */
}

/* .top-header__menu {
} */

/* .menu {
} */
/* .menu__icon {
} */
// Нарисовали кнопку меню-бургер ( кол-во span: 3 ) и анимировали при нажатии =====================================================
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		width: 30px;
		height: 18px;
		position: relative;
		cursor: pointer;
		z-index: 5;
		span {
			transition: 0.5s ease 0s;
			top: calc(50% - 1px);
			left: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #fff;
			&:first-child {
				top: 0;
			}
			&:last-child {
				top: auto;
				bottom: 0;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}

//=============================================================================================================================

// Меню, которое появляется при нажатии на кнопку меню-бургер:
.menu__body {
	@media (max-width: $md2+px) {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		overflow: auto;
		display: none; /* скроем меню в момент появления кнопки меню-бургер */
		background-color: #fff;
		padding: 90px 20px 30px 20px;
		z-index: 2;
		// рисуем накрывающую плашку шириной как у .top-header__content:
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 91px;
			top: 0;
			left: 0;
			background-color: #0091b8;
		}
		&._active {
			display: block; /* покажем меню при нажатии кнопки меню-бургер (добавляется класс _active */
		}
	}
}
.menu__list {
	display: grid;
	grid-template-columns: 110px 130px 180px;
	li {
		margin: 2px 0;
	}
	@media (max-width: $md1+px) {
		grid-template-columns: 90px 110px 160px;
	}
	@media (max-width: $md2+px) {
		display: block; /* в выпадающем меню элемены расположатся в колонку */
	}
}
.menu__link {
	font-family: "Play";
	font-size: 14px;
	transition: all 0.5s ease 0s;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: underline;
	/* white-space: nowrap; */
	color: #fff;
	min-height: 27px;
	padding: 3px 22px;
	@media (min-width: $md2+px) {
		&:hover {
			background-color: #068292;
			border-radius: 20px;
		}
	}
	@media (max-width: $md1+px) {
		padding: 3px 10px;
	}
	@media (max-width: $md2+px) {
		color: #000;
		padding: 9px 5px;
		font-size: 20px;
	}
}

.top-header__contacts {
	@media (min-width: 426px) {
		position: relative; /* вытаскиваем телефоны на верх накрывающей плашки */
		z-index: 5;
	}
}
.contacts-header {
	display: flex;
	justify-content: center;
	@media (max-width: 640px) {
		flex-direction: column;
	}
	@media (max-width: 425px) {
		align-items: flex-end;
		margin-top: 10px;
	}
}
.contacts-header__column {
	padding: 0 30px;
	border-left: 1px solid #fff;
	&:first-child {
		border: 0;
	}
	@media (max-width: $md1+px) {
		padding: 0 15px;
	}
	@media (max-width: 640px) {
		border: none;
		&:not(:last-child) {
			margin: 0 0 7px 0;
		}
	}
	@media (max-width: 425px) {
		padding: 10px 7px;
	}
}
/* .contacts-header__item {
} */
.contacts-header__item--icon {
	background: url("../img/icons/header/phone.png") left no-repeat;
	z-index: 10;
	padding: 0 0 0 37px;
	@media (max-width: $md1+px) {
		padding: 0 0 0 33px;
		/* background-size: 15px; */
	}
}
.contacts-header__label {
	font-family: "Play";
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	margin: 0 0 5px 0;
	@media (max-width: 425px) {
		color: #000;
	}
}
.contacts-header__phone {
	font-family: "Play";
	font-size: 18px;
	color: #fff;
	font-weight: 900;
	white-space: nowrap;
	@media (max-width: $md1+px) {
		font-size: 16px;
	}
	@media (max-width: 425px) {
		color: #000;
	}
}

/* .header__bottom {
} */
/* .bottom-header {
} */
.bottom-header__content {
	display: flex;
	height: 63px;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 959px) {
		height: 100px;
		flex-direction: column;
	}
	@media (max-width: 425px) {
		height: 58px;
	}
}
.bottom-header__column {
	// установим ширину колонок 50% и уменьшив на половину размера логотипа (блок станет под логотипом) и разделим блоки по сторонам, установив для .bottom-header__content { justify-content: space-between; }
	flex: 0 1 calc(50% - 95px);
}
/* .bottom-header__actions {
} */
.actions-header {
	display: flex;
	align-items: center;
	li {
		margin: 0 54px 0 0;
		@media (max-width: $maxWidthContainer+px) {
			margin: 0 25 / $maxWidthContainer * 100vw 0 0;
		}
	}
	@media (max-width: 959px) {
		padding-top: 15px;
	}
	@media (max-width: 425px) {
		justify-content: space-around;
		flex-wrap: wrap;
		padding-top: 5px;
	}
}
.actions-header__item {
	padding: 0 0 0 36px;
	display: inline-block;
	line-height: 24px;
	color: #999999;
	transition: all 0.5s ease 0s;
	span {
		border-bottom: 1px dotted;
	}
	@media (min-width: $md2+px) {
		&:hover {
			color: #1ab9ce;
		}
	}
	@media (max-width: $md3+px) {
		&:not(:last-child) {
			top: 10px;
		}
	}
	@media (max-width: 425px) {
		color: #24505c;
		&:last-child {
			margin-top: 25px;
		}
	}
}
.actions-header__item--login {
	background: url("../img/icons/header/login.png") left no-repeat;
}
.actions-header__item--reg {
	background: url("../img/icons/header/user.png") left no-repeat;
}
.actions-header__item--email {
	background: url("../img/icons/header/email.png") left no-repeat;
	span {
		border-bottom: 1px solid;
	}
}

/* .bottom-header__info {
} */
.info-header {
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-header__column {
	padding: 0 54px 0 0;
	@media (max-width: $maxWidthContainer+px) {
		padding: 0 25 / $maxWidthContainer * 100vw 0 0;
	}
	&:last-child {
		padding: 0;
	}
}
.info-header__callback {
	background: url("../img/icons/header/callback.png") left no-repeat;
	padding: 0 0 0 35px;
	display: inline-block;
	line-height: 28px;
	color: #1ab9ce;
	span {
		border-bottom: 1px dotted;
	}
}
.info-header__schedule {
	background: url("../img/icons/header/schedule.png") left no-repeat;
	padding: 0 0 0 37px;
	font-size: 12px;
	font-weight: 300;
	line-height: 18px;
	color: #999999;
	span {
		font-weight: 900;
	}
	@media (max-width: 425px) {
		color: #24505c;
		padding: 15px 0 10px 40px;
	}
}
.info-header__cart {
	width: 48px;
	height: 48px;
	display: inline-block;
	background: url("../img/icons/header/cart.png") left no-repeat;
	position: relative;
	transform: translateY(3%);
	@media (max-width: $md1+px) {
		transform: translateY(27%);
	}
	span {
		position: absolute;
		background-color: #f68038;
		padding: 0 11px;
		border-radius: 20px;
		line-height: 25px;
		right: -25px;
		top: -3px;
		font-size: 18px;
		font-weight: 700;
		font-family: Play;
		color: #fff;
		@media (max-width: $md1+px) {
			right: 2px;
			top: -15px;
		}
	}
}
