.pagging {
	display: flex;
	align-items: center;
	justify-content: center;
	&__arrow {
		width: 32px;
		height: 32px;
		cursor: pointer;
		background: url("../img/icons/left-pagging.png") 0 0 no-repeat;
		@media (min-width: 991px) {
			&:hover {
				background: url("../img/icons/left-pagging-active.png");
			}
		}
		&:first-child {
		}
		&:last-child {
			transform: rotate(-180deg);
		}
		@media (max-width: 365px) {
			display: none;
		}
	}
	&__list {
		display: flex;
		margin: 0 35px;
		li {
		}
	}
	&__item {
		width: 33px;
		height: 33px;
		color: #333333;
		font-weight: 900;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		&._active {
			color: #ffffff;
			background-color: coral;
		}
	}
}
