@import "mixins";

// Подключаем шрифты=================================================================================================================
// Подключение кириллицы (добавить в конце строки):  &display=swap&subset=cyrillic-ext

//@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap&subset=cyrillic-ext");
@import "fonts";

@import "icons";

// Подключение стилей страниц:
@import "page";
@import "home";

// Шрифт по умолчанию
$fontFamily: "Roboto";
$fontSize: 14px;

// ПЕРЕМЕННЫЕ:
$minWidth: 320px;
$maxWidth: 1440;
// Ограничивающий контейнер:
$maxWidthContainer: 1180; /* учли поля (что-бы контент не прилипал к краям экрана) */
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$orangeColor: #e89f71;
$grayColor: #898989;
$dackgrayColor: #616161;

// обнуление Общие параметры
@import "null";

body {
	color: #000;
	font-family: $fontFamily;
	font-size: 14px;
	&._lock {
		overflow: hidden;
	}
}

// оболочка
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	// &._loaded {
	// }
}

// основная сетка
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 20px; // поля, что бы содержимое контейнера не прилипало к краям
	overflow-x: hidden;
	@media (max-width: 768px) {
		padding: 0 10px;
	}

	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	min-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}

//***************************************** Готовые классы**********************************************

//Выводим значёк рос.рубль:
.rub::after {
	content: "₽";
}

// *********************************** Применение класса "ibg" для картинок (адаптив изображения): ********************************

.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* position: relative; */
}

.ibg img {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

//************************************* стили клонированной картинки ***********************************************************

._flyImage._ibg {
	opacity: 1;
	position: fixed;
	z-index: 100;
	transition: all 1s ease 0s;
}

// общие стили для заголовков в footer  =========================================================================================

.footer-title {
	@include adaptiv-value("font-size", 24, 20, 1);
	line-height: 29 * /* 1/24 */ 0.04167 * 100%;
	font-weight: 700;
	color: #000000;
}

// Общие стили для заголовков в секции ТОВАРЫ ===================================================================================

.title {
	@include adaptiv-value("font-size", 40, 24, 1);
	font-weight: 700;
	line-height: 120%;
	text-align: center;
}

/* 10 */
// общие стили для кнопок ********************************************************************************************************

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 0 15px;
	@media (max-width: 595px) {
		padding: 0 5px;
	}

	transition: all 0.5s ease 0s;
	height: 39px;
	background-color: #f68038;
	color: #ffffff;
	font-size: 12px;
	font-weight: 900;
	line-height: 18px;
	text-transform: uppercase;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			background-color: #f5b338;
		}
	}
	&--grey {
		color: #666666;
		background-color: #e6e6e6;
		@media (any-hover: hover) {
			&:hover {
				// будет работать при наведении курсором (на устройствах, оборудованных мышью)
				background-color: #c2bebe;
			}
		}
	}
	&._fw {
		width: 100%;
	}
}

//================================================== select ===================================================================

.select {
	position: relative;
	&__item {
		position: relative;
		min-width: 166px;
	}
	&__title {
		color: #000;
		//border: 1px solid #d9d9d9;
		background-color: #fff;
		cursor: pointer;
		//border-radius: 4px;
	}
	&__value {
		display: flex;
		font-size: 14px;
		color: #0097ac;
		height: 30px;
		padding: 0 15px;
		align-items: center;
		justify-content: space-between;
		flex-direction: row-reverse;
		span {
			height: 1em;
			overflow: hidden;
		}
		&::before {
			content: "";
			display: inline-block;
			transition: all 0.7s ease 0s;
			width: 11px;
			height: 7px;
			margin: 0 0 0 5px;
			background: url("../img/icons/select.svg") center / 100% no-repeat;
		}
	}
	&__input {
		width: 100%;
		height: 100%;
		background-color: transparent;
	}
	&__options {
		color: #000;
		display: none;
		position: absolute;
		top: 29px;
		//border-radius: 0 0 4px 4px;
		min-width: 100%;
		left: 0;
		background-color: #fff;
		border-top: 0;
		border: 1px solid #d9d9d9;
		font-size: 14px;
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
		padding: 10px 0 5px 0;
	}
	&__option {
		cursor: pointer;
		padding: 5px 15px;
		margin: 0;
		@media (min-width: 991px) {
			&:hover {
				background: #d9d9d9;
			}
		}
	}
	&_show {
		.select__item {
			min-width: 0;
			border: 2px solid #f3f3f3;
		}
		.select__value {
			color: #999999;
			font-weight: 900;
		}
	}
	&._active {
		z-index: 5;
		.select__value {
			&::before {
				transform: rotate(-180deg);
			}
		}
		.select__options {
			display: block;
		}
	}
}

//================================================== Класс input ================================================================

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	appearance: none;
}
input {
	border-radius: 0 !important;
	border: 1px solid #e5e5e5;
	height: 30px;
	width: 100%;
	display: block;
	padding: 0 15px;
	&._error {
		border: 1px solid red;
	}
}
textarea.input {
	resize: none;
	padding: 0 0;
}

//=================================================== Класс checkbox =============================================================

.checkbox {
	position: relative;
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
		// нарисуем активное состояние:
		&:checked + .checkbox__text::before {
			border: 2px solid #009aaf; // в активном состоянии граница квадратика поменяет цвет
			//background: #fff url("../img/icons/check.svg") center no-repeat; // в активном состоянии появится галочка
		}
		// в актвном состоянии нарисуем квадратик по центру:
		&:checked + .checkbox__text::after {
			content: "";
			position: absolute;
			left: 3px;
			top: 3px;
			width: 9px;
			height: 9px;
			background-color: #53b5de;
		}
	}
	&__text {
		display: inline-flex;
		align-items: center;
		position: relative;
		font-size: 14px;
		color: #666666;
		//letter-spacing: -0.3px; // закомментировали что бы текст рядом с квадратиками стал виден
		line-height: calc(15 / 12);
		cursor: pointer;
		&::before {
			content: "";
			align-self: flex-start;
			margin: 0 14px 0 0;
			flex: 0 0 15px;
			left: 0;
			top: 0;
			width: 15px;
			height: 15px;
			background: #fff;
			border: 2px solid #dadada;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		@media (min-width: 991px) {
			&:hover {
				text-decoration: none;
			}
		}
	}
}

//========================================= Бесцветные картинки ==================================================================

%graystyle {
	transition: all 0.7s ease 0s;
	filter: grayscale(1);
}

%graystyleoff {
	filter: grayscale(0);
}

//========================================== Элементы управления слайдером Swiper: ================================================

/* 12 */
// ОБЩИЕ СТИЛИ ДЛЯ СТРЕЛОЧЕК (Swiper): --------------------------------------------------------------------------------------------
.slider-arrows {
	display: grid;
	grid-template-columns: repeat(2, 48px); // повторили стрелочку (кол-во, размер)
	column-gap: 8px; // расстояние между элементами (колонками)->стрелочками
}

/* 13 */
// рисуем стрелочку в кружке
.slider-arrow {
	pointer-events: auto;
	border-radius: 50%; // нарисовали круг вокруг стрелочки
	height: 48px;
	background-color: rgba(232, 159, 113, 0.3);
	color: $orangeColor;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			color: #fff;
			background-color: rgba(232, 159, 113, 1);
		}
	}
}
/* 14 */
// Предыдущая кнопка
.slider-arrow--prev {
	&::before {
		transform: rotate(90deg);
	}
}
/* 15 */
// Следующая кнопка
.slider-arrow--next {
	&::before {
		transform: rotate(-90deg);
	}
}
/* 16 */
//стили других стрелочек
/* стрелочка в белом кружке: */
.slider-arrow--white {
	box-shadow: 0 4px 14px 1px rgba(0, 0, 0, 0.16);
	background-color: #fff;
	@media (any-hover: hover) {
		&:hover {
			// будет работать при наведении курсором (на устройствах, оборудованных мышью)
			background-color: $orangeColor;
			color: #fff;
		}
	}
}

// ОБЩИЕ СТИЛИ ДЛЯ ТОЧЕК (Swiper): ------------------------------------------------------------------------------------------------

/* Классы, которые Swiper добавляет автоматически(приего инициализации: */
/* 17 */
/* для оболочки точек: */
//.swiper-pagination-bullets {
//	display: flex;
//	flex-wrap: wrap;
//}
/* 18 */
/* для точек: */
//.swiper-pagination-bullet {
//cursor: pointer;
//flex: 0 0 27px; // ширина flex-элемента
//height: 27px;
//position: relative; // для абсолютного позиционирования ореола вокруг активной точки
/* отцентруем маленькую точку внутри: */
//display: flex;
//justify-content: center;
//align-items: center;
//margin: 2px 0; // отступы безопасности
//background-color: transparent;
/* отступы между точками (с учётом ореола): */
//&:not(:last-child) {
//margin-right: 12px;
//}
/* дорисуем маленькую точку для неактивного буллета: */
//&::after {
//content: "";
//width: 11px;
//height: 11px;
//background-color: #08a03b;
//border-radius: 50%;
//transition: background-color 0.5s ease 0s;
//}
/* рисуем ореол (оранжевую границу) вокруг активной точки: */
////&::before {
////content: "";
////position: absolute;
////top: 0;
////left: 0;
////width: 100%;
////height: 100%;
////border-radius: 50%;
////border: 1px solid $orangeColor;
////transition: transform 0.5s ease 0s;
/* скроем ореол для не активной точки: */
//transform: scale(0);
//}
//}
/* 19 */
/* для активной точки: */
//.swiper-pagination-bullet-active {
//&::after {
//background-color: $orangeColor;
//}
//&::before {
/* покажем ореол для активной точки: */
//transform: scale(1);
//}
//}

//==================================================== Общие классы проекта =======================================================

// Строим сетку с товарами внутри слайдера с популярными товарами:
.items-products {
	display: flex;
	margin: 0 -15px;
	flex-wrap: wrap;
}
.items-products__column {
	flex: 0 1 33.333%;
	padding: 0 15px;
	margin: 0 0 30px 0;
	@media (max-width: 991px) and (max-width: 650px) {
		flex: 1 1 50%;
	}
	@media (max-width: 1024px) {
		flex: 0 1 33.333%;
		padding: 0 5px;
	}
	@media (max-width: 750px) {
		flex: 1 1 50%;
	}
	@media (max-width: 425px) {
		flex: 1 1 100%;
	}
}

// Карточка товара (страница page):
.item-product {
	padding: 15px;
	position: relative;
}
// Дополнительные свойства для карточки с товаром (страница home):
.item-product {
	border: 1px solid #f5f5f5;
	overflow: hidden;
	height: 100%;
	display: flex;
	flex-direction: column;
	@media (min-width: 991px) {
		&:hover {
			.item-product__hover {
				transform: translate(0px, 0px);
			}
		}
	}
}

.item-product__labels {
	position: absolute;
	left: 15px;
	top: 15px;
}

.item-product__label {
	margin: 0 0 5px 0;
	padding: 0 15px;
	text-transform: uppercase;
	height: 21px;
	background-color: #fd8424;
	border-radius: 15px;
	color: #fff;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item-product__image {
	height: 260px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	// расположем внутри картинку:
	img {
		max-width: 100%;
		max-height: 240px;
	}
}

.item-product__body {
	padding: 0 10px;
}
.item-product__body {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.item-product__title {
	color: #36949f;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	display: inline-block;
	margin: 0 0 5px 0;
	@media (min-width: 991px) {
		&:hover {
			text-decoration: underline;
		}
	}
}
.item-product__title {
	flex: 1 1 auto;
	span {
		display: block;
		font-weight: 900;
	}
}

.item-product__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.item-product__old-price {
	flex: 1 1 100%; /* flex-элемент разместится на всю ширину */
	text-align: right;
	color: #999999;
	font-size: 18px;
	font-weight: 300;
	text-decoration: line-through;
	// уменьшим размер значка-рубль:
	&::after {
		font-size: 14px;
	}
	/* display: none; */
}

.item-product__add {
	width: 48px;
	height: 48px;
	background: url("../img/icons/page/cart_gray.png") 0 0 no-repeat;
}

.item-product__price {
	color: #333333;
	font-size: 24px;
	font-weight: 900;
	// уменьшим размер значка-рубль:
	&::after {
		font-size: 18px;
	}
}

// Карточка товара при наведении (3-27:27):

.item-product__hover {
	// расположим карточку при наведении над карточкой товара
	position: absolute; /* относительно карточки товара т.е. .item-product:  position: relative; */
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	// скроем карточку пока нет наведения и покажем при наведении на .item-product:
	/* opacity: 0;
	visibility: hidden; */
	transition: transform 2s ease 0s;
	transform: translate(100%, 0);
}

.hover-item-product {
	border: 5px solid #f68038;
	background-color: rgba(0, 0, 0, 0.74);
	padding: 15px;
	display: flex;
	flex-direction: column;
	color: #fff;
}
.hover-item-product__title {
	font-size: 16px;
	color: #c2c2c2;
	font-weight: 300;
	margin: 0 0 25px 0;
	span {
		display: block;
		color: #ffffff;
		font-weight: 900;
		margin: 0 0 5px 0;
	}
}
.hover-item-product__options {
	flex: 1 1 auto;
}
/* .options-item-product {
} */
.options-item-product__item {
	margin: 0 0 10px 0;
}
.options-item-product__label {
	margin: 0 0 3px 0;
}
.options-item-product__value {
	color: #f68038;
	font-weight: 900;
}
.hover-item-product__cart {
	background: url("../img/icons/home/cart-orange.png") 0 0 no-repeat;
	width: 64px;
	height: 64px;
	margin: 0 auto 25px auto; /* расположили иконку по центру карточки */
	display: block;
	&--catalog {
		margin: 0;
	}
}

.hover-item-product__compare {
	background: url(../img/icons/compare.webp) left no-repeat;
	padding: 0 0 0 30px;
	line-height: 21px;
	display: inline-block;
	color: #fff;
	//margin-bottom: 80px;
	span {
		font-weight: 300;
		border-bottom: 1px dashed;
	}
}

.hover-item-product__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.hover-item-product__old-price {
	flex: 1 1 100%;
	text-align: right;
	color: #999999;
	font-size: 18px;
	font-weight: 300;
	margin: 0 0 10px 0;
	text-decoration: line-through;
	&::after {
		font-size: 14px;
	}
}

/* значёк: В наличии */
.hover-item-product__stock {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	line-height: 16px;
	height: 21px;
	color: #f68038;
	font-weight: 400;
	border-radius: 15px;
	background-color: #ffffff;
}
.hover-item-product__price {
	font-size: 24px;
	font-weight: 900;
	&::after {
		font-size: 18px;
	}
}

//====================================================== Стрелочки слайдеров (3-1:22)=================================================

.arrow {
	background: url("../img/icons/home/sl_arrow_right.png") 0 0 no-repeat;
	width: 59px;
	height: 32px;
	cursor: pointer;
	@media (min-width: 991px) {
		&:hover {
			background: url("../img/icons/home/sl_arrow_left.png") 0 0 no-repeat;
		}
	}
	&-prev {
		transform: rotate(-180deg);
		@media (min-width: 991px) {
			&:hover {
				transform: rotate(0deg);
			}
		}
	}
	&-next {
		@media (min-width: 991px) {
			&:hover {
				transform: rotate(-180deg);
			}
		}
	}
}

//=================================================================================================================================

@import "catalog";
@import "pagging";
@import "product";
@import "checkout";
@import "tabs";
@import "header";
@import "footer";
